{{template "ui_top_wrapper" . }}
{{template "ui_banner"}}
<div class="card">
    {{template "ui_header" "Login"}}
    {{template "ui_from" .ui}}
</div>

<div class="card">
    <a class="swatch-primary button outline" href="{{.urls.welcome_url}}">back</a>
</div>
{{template "ui_bottom_wrapper" . }}